
<h2>To do list</h2>

<div class="todos">
  <div class="todos__header">
    <div class="todos__header-description">
      Description
    </div>
    <div class="todos__header-status">
      Status
    </div>
    <div class="todos__header-actions">
      Actions
    </div>
  </div>
  <div *ngFor="let todo of toDoList" class="todos__row">
    <div class="todos__row-description">{{todo.description}}</div>
    <div class="todos__row-status">{{todo.status}}</div>
    <div class="todos__row-actions"><a (click)="markDone(todo)">Mark done</a>&nbsp;&nbsp;<a (click)="delete(todo)" >Delete</a></div>
  </div>

</div>

<div class="page-buttons-block">
  <input type="text" #input>
  <button class="button--primary" (click)="addToDo(input.value)" >Add new todo</button>
</div>
