
<h2>To do list</h2>

<div class="todos">
  <div class="todos__header">
    <div class="todos__header-description">
      Description
    </div>
    <div class="todos__header-status">
      Status
    </div>
    <div class="todos__header-actions">
      Actions
    </div>
  </div>
  <div class="todos__row">
    <div class="todos__row-description">&nbsp;</div>
    <div class="todos__row-status">&nbsp;</div>
    <div class="todos__row-actions">&nbsp;</div>
  </div>

</div>

<div class="page-buttons-block">
  <button class="button--primary">Add new todo</button>
</div>
